body{
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(48,46,46,0.7),rgba(48,46,46,0.7)), url(/img/bgtech.jpg);
    background-size: cover;
    background-position: center;
}

:root{
  --color-white: #ffff;
  --color-black: #262626;
  --color-purple: #c36b84;
  --color-green: #4fa3a5;
}

/* ========== HOME PAGE ========== */
nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
nav li{
  margin: 0 1em;
}
nav a{
  text-decoration: none;
  font-weight: 700;
  color: var(--color-white);
  padding: .25em 0;
}
nav a:hover,
nav a:focus{
  color: var(--color-green);
}
.current-page{
  border-bottom: 1px solid whitesmoke;
}
.current-page:hover{
  color: var(--color-green);
}
.sentence-one{
  font-size: 5rem;
  padding: 5px 0;
  color: var(--color-white);
}

.typing span{
  font-size: 5rem;
  font-family: 'Roboto Mono', monospace;
  color: var(--color-purple);
}

header h3{
  font-size: 3rem;
  color: var(--color-white);
  padding: 5px 0;
}
.button{
  background: linear-gradient(to left, #4fa3a5, #c36b84);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: .75rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}
.button:hover,
.button:focus{
  color: var(--color-white);
}
.button-primary{
  transform: scale(1);
  transition: transform 250ms;
}
.button-primary:hover{
  transform: scale(1.1);
}

/* ========== ABOUT ========== */
section{
  width: 90%;
  display: flex;
  color: var(--color-white);
  margin: 5em auto;
}

.about-title{
  font-size: 2rem;
  font-weight: 900;
}
.description{
  margin: 0 auto;
}
.description p{
  font-size: 1.5rem;
}
.fun-fact i{
  color: var(--color-purple);
  font-size: 1.5rem;
}
.fun-fact p{
  color: var(--color-white);
  font-size: 1.5rem;
}
.sidebar{
  margin: 0 auto;
  width: 30%;
  max-width: 400px;
}
.skills{
  display: inline-block;
}
.skills i{
  color: var(--color-purple);
  font-size: 3rem;
  padding: 1rem;
}
.skills i small{
  font-size: 1.5rem;
  color: var(--color-white);
}


/* ========== PROJECTS ========== */
.projects{
  width: 90%;
  margin: 5em auto;
}
.projects-title h3{
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;
}
.projects-title p{
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: 0;
}
.portfolios {
    display: flex;
    flex-wrap: wrap;
  }
.portfolio-item {
    margin: 0 12px 0 30px;
    width: 20%;
  }
.portfolio-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
.portfolio-item h3{
  color: var(--color-white);
  font-size: 1rem;
  margin-top: 5px;
}  
.portfolio-item ul{
  list-style: none;
}
.portfolio-item li{
  color: var(--color-white);
  font-size: .9rem;
  margin-right: 30px;
}
.icon i{
  font-size: 1.5rem;
  color: var(--color-purple);
  transform: scale(1);
  transition: transform 250ms;
}
.icon i:hover{
  transform: scale(1.3);
}



/* ========== CONTACT PAGE ========== */
.col-1{
  text-align: center;
  padding-left: 5em;
}
.contact-item {
  margin: 3em 0;
}
.contact-item span {
  font-size: 2rem;
  color: var(--color-white);
}
.contact-item p {
  font-size: 1.5rem;
  color: var(--color-white);
}
.contact-item .icon {
  color: var(--color-purple);
  font-size: 2rem;
}
.contact-icon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact-icon a {
  display: flex;
  color: var(--color-green);
  background-color: transparent;
  border: 1px solid var(--color-green);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.contact-icon a:hover {
  background-color: var(--color-purple);
  border: 1px solid var(--color-purple);
}
.contact-icon a:hover i {
  color: var(--color-white);
}
.contact-icon a i {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.form-part{
  background: #404040;
}
.contact-title{
  font-size: 3rem;
}
input, 
textarea{
  width: 90%;
  font-size: 1rem;
  margin-bottom: .75em;
  text-align: inherit;
  padding: .25em;
  border: 1px solid #404040;
  border-radius: 5px;
}
.btn-submit{
  width: 50%;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .75em;
  text-transform: uppercase;
  padding: .25em 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(to left, #4fa3a5, #c36b84);
  transform: scale(1);
  transition: transform 250ms;
}
.btn-submit:hover,
.btn-submit:focus{
  background: linear-gradient(to left, #c36b84, #4fa3a5);
  color: var(--color-white);
  transform: scale(1.2);
}


@media (max-width: 500px){
  nav ul{
    flex-direction: column;
  }
  nav li{
    margin-bottom: 10px;
  }
}